.header {
    background-color: #004b80; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 9%; 
    font-size: large;
    font-weight: bold;
}
.txtDorado{
    color: gold; 
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
  
.txtBlanco{
    color: white; 
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.titulo {
    font-size: large;
    color: black;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}
.fondo{
    --background: url('../../../assets/img/fondo.png') 0/100% 100%;
    
}

ion-footer {
    background-color: #e3e3e3 ;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.footer ion-icon {
    margin: 0 30px;
    font-size: 24px;
}



.titulo ion-icon{
    font-size: 1em;
    justify-content: space-between;
}



.direccion {
    background-color: #e3e3e3;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px; 
    text-align: center;
}
  
.direccion-inicial,
.direccion-final {
    font-size: large;
}
.direccion-texto {
    font-size: large;
}

.direccion-texto ion-button {
    margin-right: auto; /* Empujar los botones hacia la izquierda */
}

.direccion ion-button{
    margin-right: auto;
}

.boton {
    width: 100%;
    height: 60px;
    border-radius: 25px;
    margin-left: 25%; /* Ajusta según sea necesario */
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}
#map{
    width: 100%;
    height: 40%; 
    max-width: 100%;
    overflow: hidden;
}
#controles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-top: 10px;
  }
  
  ion-input {
    width: 80%;
    max-width: 300px; /* Ajusta según sea necesario */
  }
  
  ion-button {
    width: 40%; /* Ajusta según sea necesario */
    max-width: 150px; /* Ajusta según sea necesario */
    margin-bottom: 10px;
    color: black;
    background-color: gold;
  }
  
.input_precio {
    position: absolute;
    bottom: 9%;
    left: 45%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: #fff;
    width: 80%;
    max-width: 300px; /* Ajusta según sea necesario */
    padding: 10px;
    margin-top: 9%;
  }
  
  .mat-form-field {
    width: 100%;
  }
  #container_map {
    width: 100%;
    height: 80%;
    z-index: 1;
    overflow: hidden;
    position: relative; /* Agrega posición relativa al contenedor del mapa */
  }
  